.done {
  text-decoration: line-through;
}

ul>li:hover {
  background-color: #F5F5F5;
}

.myicon {
  padding-top: 5px;
  padding-right: 10px;
  font-size: x-large;
}

.list-group-item {
  background-color: #ecf8f8;
  color: #006666;
}
