/* The navigation bar */
.header {
  background-color: #006666;
  height: 50px;
  padding: 0;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
